*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	text-decoration: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
.top-header{
    width: 100%;
    margin: 0 auto;
    background-color: #f4f7ff;
    display: flex;
    height: 55px;
    justify-content:space-between ;
    align-items: center;
    padding: 0 50px;
}
.top-header-left{
    display: flex;
}
.top-header-right{
    display: flex;
}
.time, .social-links{
    margin-left: 20px;
}
.address, .time, .contact{
font-size: 14px;
color:#6e6969;

}
.social-links a{
    padding: 0 5px;
    transition: 0.3s linear;
}
.social-links a:hover{
    border-bottom: 1px solid green;
    font-size: 18px;
    transition: 0.3s linear;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
	background-color: aqua;
    
   
	
}

.logo {
    font-size: larger;
    

}
.logo h1{
    padding-left: 50px;
}
.logo span{
    color: #d16bf3;
}

.nav-link ul {
    display: flex;
    list-style: none;
}

.nav-link ul li {
    margin-right: 20px;
    padding: 15px;
    border-radius: 10px;
}


.nav-link ul li a {
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s linear;
    
}
.nav-link ul li a:hover{
color: brown;
}
button{
	background-color: #e26cf7;
    padding: 11px 25px;
    font-size: 18px;
    margin-right: 40px;
    border-style: none;
    border-radius: 5px;
    transition: 0.5s linear;
	
}
button:hover{
    background-color: coral;
    color:aliceblue;

}
button i{
	margin-left: 8px;
}


/*background image set with text*/

.banner{
	background:url(../images/img-2.jpg) left top no-repeat;
	background-size:cover;
	padding:300px 0;
	text-align:center;
	color:#fff;
	position:relative;
	z-index:1;
	min-height:200px;
	
	clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
	
}
.banner-txt{
	margin-top:-170px;
}
.banner-txt a{
	text-decoration: none;
	color:#fff
}
.banner2{
	background:url(../images/img-3.jpg) left top no-repeat;
	background-size:cover;
	padding:300px 0;
	text-align:center;
	color:#fff;
	position:relative;
	z-index:1;
	/*clip-path: circle(50% at 95% 0);*/
	
}
.banner3{
	background:url(../images/img-4.jpg) left top no-repeat;
	background-size:cover;
	padding:300px 0;
	text-align:center;
	color:#fff;
	position:relative;
	z-index:1;
	
}

.banner-txt .p1{
	font-size:25px;
	font-family: sans-serif;
	margin-top:10px;
}
.banner-txt .p2{
	font-size:35px;
	font-family: 'Oswald', sans-serif;
	letter-spacing:4px;
	color:#cc0033;
	
	
}
.banner-txt .p3{
	margin-top:20px;
	letter-spacing:2px;
	font-family: 'Oswald', sans-serif;
	
}
.banner-txt .p4{
	letter-spacing:2px;
	font-family: 'Oswald', sans-serif;
}
.banner-txt h2{
	font-size:40px;
	font-family: 'Oswald', sans-serif;
	color:yellow;
	
}
.banner-txt h1{
	font-size:50px;
	font-family: 'Oswald', sans-serif;
	color:yellow;
	
}
.banner-txt .btn1{
	margin-top:20px;
	padding:10px;
	font-size:16px;
	background-color:yellow;
	border:none;
	border-radius:3px;
	/*text-transform: uppercase;*/
	transition:all 0.5s linear;
}
.banner-txt .btn1:hover{
	background-color:#cc0033;
	color:#fff;
}
.banner-txt .btn2{
	margin-left:15px;
	padding:10px;
	font-size:16px;
	background-color:transparent;
	border:1px solid #444;
	color:#fff;
	border-radius:3px;
	transition:all 0.5s linear;
}
.banner-txt .btn2:hover{
	background-color:#fff;
	color:black;
}

.banner:before{
	position:absolute;
	content:"";
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.62);
	left:0;
	top:0;
	z-index:-1;
	
	
}
.banner-full{
	position:relative;
	
	
}

.banner-full i{
	color: #fff;
    height: 40px;
    width: 40px;
    background-color: #fff;
    color: #000;
    line-height: 40px;
    text-align: center
}

.banner-full i.fa-arrow-left{
	position:absolute;
	left:0;
	top:50%;
	
	z-index:99;
	
	
}
.banner-full i.fa-arrow-right{
	position:absolute;
	right:0;
	top:50%;
	
	z-index:99;
	
	
}
/*feather csss*/
.container{
    /*background-color: aquamarine;*/
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-right:34px;
}

.box{
    height: 300px;
    width: 300px;
    background-color: bisque;
    margin-left: 30px;
    transition: 0.2s linear;
    border-radius: 5px;
}
.box:hover{
    box-shadow:1px 2px 3px 2px #888888;
    transform: translate(-3px);
}

.content{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.content h5{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    color:#353535;
    margin-top: 40px;
    filter:drop-shadow(3px 3px 2px rgba(255,255,255,0.3));
       
       
}

.number{
display: flex;
justify-content: space-between;
align-items: center;
margin-right: 23px;

}
.number h1{
color:#f4f7ff;
font-size:80px;
margin-top: 50px;
transition: 0.2s linear;

}
.box:hover h1
{
    text-shadow: 2px 2px #FF0000;

}
.box:hover .icon{
    text-shadow: 2px 2px #AB7442;
			
			
}
.icon{
    background-color: #f5f5f5;
    height: 60px;
    width: 60px;
    /*margin-top: -50px;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0 0 30px;
    border-radius: 5px;
    transition: 0.2s linear;
    
}
.icon i{
    color:#AB7442;
    font-size:40px;
    font-weight: 900;
    margin:0 0 0 8px;
   
}






























